@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  @apply bg-gray-50 text-gray-900 antialiased;
}
